@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap");

:root {
  /* Palette */

  --primary-solid: rgb(255, 51, 51);
  --primary-900: rgba(255, 51, 51, 0.9);
  --primary-500: rgba(255, 51, 51, 0.5);
  --primary-300: rgba(255, 51, 51, 0.3);

  --secondary-solid: rgb(29, 132, 181);
  --secondary-900: rgba(29, 132, 181, 0.9);
  --secondary-500: rgba(29, 132, 181, 0.5);
  --secondary-300: rgba(29, 132, 181, 0.3);

  --dark-solid: rgb(31, 31, 31);
  --dark-900: rgba(31, 31, 31, 0.9);
  --dark-500: rgba(31, 31, 31, 0.5);
  --dark-300: rgba(31, 31, 31, 0.3);
  --primary-solid: rgb(255, 51, 51);
  --primary-900: rgba(255, 51, 51, 0.9);
  --primary-500: rgba(255, 51, 51, 0.5);
  --primary-300: rgba(255, 51, 51, 0.3);

  --secondary-solid: rgb(29, 132, 181);
  --secondary-900: rgba(29, 132, 181, 0.9);
  --secondary-500: rgba(29, 132, 181, 0.5);
  --secondary-300: rgba(29, 132, 181, 0.3);

  --dark-solid: rgb(31, 31, 31);
  --dark-900: rgba(31, 31, 31, 0.9);
  --dark-500: rgba(31, 31, 31, 0.5);
  --dark-300: rgba(31, 31, 31, 0.3);

  --dark-bg-solid: #30343f;
  --light-bg-solid: #fafaff;
  --light-font-solid: #ffffff;

  /* Typography */
  --base-font: "Inter", sans-serif;
  --alternative-font: "Raleway", sans-serif;

  /* Font-sizes */
  --font-display: 4.6em;
  --font-jumbo: 3.8em;
  --font-xlarge: 3em;
  --font-large: 2.4em;
  --font-medium: 1.8em;
  --font-small: 1.6em;
  --font-xsmall: 1.4em;

  /* Spacings */
  --spacing-128: 12.8rem;
  --spacing-68: 6.8rem;
  --spacing-36: 3.6rem;
  --spacing-28: 2.8rem;
  --spacing-24: 2.4rem;
  --spacing-20: 2rem;
  --spacing-16: 1.6rem;
  --spacing-12: 1.2rem;
  --spacing-8: 0.8rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  color: #111111;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

p {
  font-size: 1.8em;
}

header,
footer {
  font-family: var(--alternative-font);
  color: var(--light-font-solid);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  width: 100%;
}

/* HEADER*/

header {
  background-color: var(--dark-bg-solid);
  padding: var(--spacing-36);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  max-width: 300px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  gap: var(--spacing-20);
}

.navbar__link {
  font-size: var(--font-medium);
  display: inline-block;
  padding: var(--spacing-8) var(--spacing-16);
  transition: background 0.3s ease-in-out;
  position: relative;
}

.navbar__link:hover {
  background-color: var(--primary-900);
}

.with-icon {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
}

.with-submenu:hover .submenu {
  display: block;
}

.submenu {
  display: none;
  width: 300px;
  position: absolute;
  background-color: var(--dark-bg-solid);
  z-index: 3;
}

.submenu__link {
  display: block;
  font-size: var(--font-medium);
  padding: var(--spacing-8) var(--spacing-16);

  display: block;
  padding: var(--spacing-8) var(--spacing-16);
}

.submenu__link:hover {
  background-color: var(--primary-900);
  transition: background 0.3s ease-in-out;
}

/* HERO */

.hero {
  background-image: url(../img/funkos-banner.webp);
  padding: var(--spacing-128);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.hero::before {
  content: "";
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(2px) brightness(0.9);
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-20);
  align-items: start;
  z-index: 2;
  position: relative;
}

.hero__title {
  font-family: var(--alternative-font);
  font-size: var(--font-jumbo);
  color: var(--light-font-solid);
}

.hero__text {
  font-family: var(--alternative-font);
  color: var(--light-font-solid);
  font-size: var(--font-medium);
}

.hero__link {
  display: inline-block;
  font-size: var(--font-medium);
  background-color: var(--light-bg-solid);
  padding: var(--spacing-12) var(--spacing-68);
  border-radius: 50px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.hero__link:hover {
  background-color: var(--primary-900);
  color: var(--light-font-solid);
}

/*COLLECTIONS*/

.collection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: var(--spacing-16) 0;
}

.collection:nth-child(2) .collection__cover {
  order: -1;
}

.collection__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
  align-items: start;
}

.collection__title {
  font-family: var(--alternative-font);
  font-size: var(--font-display);
  font-weight: 500;
}

.collection__text {
  font-family: var(--alternative-font);
  font-size: var(--font-large);
  font-weight: 300;
  border-bottom: 2px solid var(--primary-solid);
  padding-bottom: var(--spacing-20);
}

.collection__link {
  display: inline-block;
  font-size: var(--font-medium);
  background-color: var(--dark-bg-solid);
  color: var(--light-font-solid);
  padding: var(--spacing-16) var(--spacing-36);
  border-radius: 50px;
  font-weight: 500;
  transition: background 0.3s ease-in-out;
}

.collection__link:hover {
  background-color: var(--primary-900);
}

/*SLIDER*/

.slider {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-36);
  margin: var(--spacing-68) auto;
}

.slider__title {
  font-family: var(--alternative-font);
  font-size: var(--font-display);
  text-transform: uppercase;
}

.slider__items {
  display: flex;
  gap: var(--spacing-24);
}

/* CARD ITEM */

.card-item__cover {
  display: flex;
  position: relative;
}

.card-item__tag {
  font-size: var(--font-xsmall);
  text-transform: uppercase;
  background-color: var(--primary-solid);
  color: var(--light-font-solid);
  padding: var(--spacing-8) var(--spacing-12);
  position: absolute;
  right: 0;
}

.card-item__cover img {
  animation: fade 0.7s;
}

.card-item__img--back {
  display: none;
}

.card-item__cover:hover .card-item__img--back {
  display: block;
}

.card-item__cover:hover .card-item__img--front {
  display: none;
}

.card-item__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
  padding: var(--spacing-16);
}

.card-item__licence {
  font-size: var(--font-xsmall);
  font-weight: 500;
}

.card-item__name {
  font-size: var(--font-medium);
  font-weight: 700;
}

.card-item__price {
  font-size: var(--font-small);
}

.card-item__promo {
  font-size: var(--font-xsmall);
  color: var(--secondary-solid);
  font-weight: 700;
}

/* FOOTER*/

.footer {
  background-color: var(--dark-bg-solid);
  padding: var(--spacing-68);
}

.footer__copy {
  margin-top: var(--spacing-36);
  text-align: center;
}

/* ANIMATIONS*/

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*----- STYLES PARA SHOP -----*/

.main-shop {
  display: flex;
  gap: var(--spacing-16);
}

.aside {
  margin: var(--spacing-68) auto;
}

.form__item1,
.form__item2,
.form__item3,
.form__item4 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
  font-weight: 500;
  margin-bottom: var(--spacing-28);
}

.form__label1,
.form__span2,
.form__span3,
.form__span4 {
  font-size: var(--font-large);
}

.subitems__label3,
.subitems__span3 {
  font-size: var(--font-xsmall);
}

.subitems__label4 {
  font-size: var(--font-small);
}

.form__input1,
.form__select2 {
  width: 100%;
  display: block;
  font-size: var(--font-medium);
  font-family: var(--base-font);
  background-color: var(--light-bg-solid);
  border: 2px solid var(--dark-bg-solid);
  border-radius: 6px;
  padding: var(--spacing-8);
}

.subitems__item3 {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
}

.subitems__input3 {
  font-size: var(--font-medium);
  font-family: var(--base-font);
  background-color: var(--light-bg-solid);
  border: 2px solid var(--dark-bg-solid);
  border-radius: 6px;
  padding: 4px;
}

::placeholder {
  color: var(--dark-500);
}

input[type="checkbox"] {
  transform: scale(1.75);
}

.subitems4 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
  margin-left: var(--spacing-20);
}

.subitem4 {
  display: flex;
  align-items: center;
  gap: var(--spacing-12);
}

.pagination {
  display: flex;
  justify-content: center;
  margin: var(--spacing-68) auto;
}

.pagination__div {
  display: flex;
  gap: var(--spacing-8);
  font-family: var(--base-font);
  font-size: var(--font-small);
  font-weight: 700;
}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--dark-300);
  border-radius: 6px;
  width: 44px;
  height: 44px;
}

.icon {
  color: var(--dark-300);
}

.active {
  border: 1px solid var(--primary-solid);
  color: var(--primary-solid);
}

nav {
  background-color: #30343f;
}

/* CREATE */
.create__form {
  margin: var(--spacing-20) 0;
}

.create__form__ul {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-28);
  margin: var(--spacing-20) 0;
}

.create__form__ul--h1 {
  font-family: var(--alternative-font);
  font-size: var(--font-large);
  font-weight: 700;
}
.create__form__ul--select {
  border-radius: 0.375rem;
  border: 2px solid #30343f;
  width: 15.18963rem;
  height: 2.76781rem;
}
.create__form__ul__li--typography {
  color: #000;
  font-family: var(--base-font);
  font-size: var(--font-small);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.06rem;
}
.create__form__ul__li__div {
  display: flex;
  gap: var(--spacing-36);
}
.create__form__ul__li__div2 {
  display: flex;
  gap: var(--spacing-20);
}
.create__form--line {
  color: #b9b9b9;
  text-align: right;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.045rem;
  border: none;
  border-bottom: 1px solid #f33;
}
.create__form--btn {
  padding: 1.5rem 1.9rem;
  background: #f33;
  color: #fff;
  margin-right: 2.13rem;
  width: 14rem;
  height: 4rem;
  flex-shrink: 0;
  font-family: var(--base-font);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.06rem;
  border: none;
}
/* Editar item */

.editaritem__ul__li__img {
  width: 9.375rem;
  height: 9.375rem;
  margin-right: 1.51rem;
  border: none;
  border-bottom: 1px solid #f33;
}

/* Register */

.register__form {
  display: flex;
  gap: var(--spacing-20);
}
.register__form--centered {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-28);
  margin: var(--spacing-20) 0;
  align-items: center;
}
.register__form--item {
  align-self: flex-start;
}
.register__main__form--container {
  max-width: 60rem;
  margin: 2.25rem auto;
}
.register__form__ul__li--gap {
  margin-left: 12rem;
}
.register__form__ul__li--gap1 {
  margin-left: 14rem;
}
.register__form__ul__li--gap2 {
  margin-left: 9rem;
}

.register__form__ul__li--gap3 {
  margin-left: 4rem;
}
.register__form__ul__li--center {
  align-self: center;
}

.register__form__ul__form__div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__form__ul--p {
  font-family: var(--alternative-font);
  font-size: 2rem;
  font-weight: 500;
}

/* Item */

.item__section__picture {
  height: 60rem;
  width: 60rem;
}

.item__section__container {
  display: flex;
  justify-content: center;
  margin: auto 0;
}
.item__section__article {
  display: flex;
  flex-direction: column;
  max-width: 45rem;
  margin: auto;
  gap: var(--spacing-16);
}
.item__main__section--title {
  color: #111;
  font-family: Inter;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.item__main__section--price {
  color: #333;
  font-family: Inter;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.item__main__section--link {
  color: #1d84b5;
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}
.item__section__article__div {
  display: flex;
}
.item__form--btn {
  background: #f33;
  width: 12rem;
  height: 3rem;
  color: #fff;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 2rem;
}

.item--center {
  margin: 1rem;
}
.sumayresta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.suma {
  background-color: #4f4f4f;
  color: #fff;
  width: 2rem;
}
.resta {
  color: #fff;
  background-color: #4f4f4f;
  width: 2rem;
}
.item__input {
  width: 7rem;
}
.item__input::placeholder {
  text-align: center;
  padding: 3rem;
  font-size: large;
}
