<header>
  <% if (locals.isLogged) { %>
  <nav class="navbar container">
    <picture class="navbar__logo">
      <a href="/"
        ><img
          src="/img/branding/logo_light_horizontal.svg"
          alt="Iso logo de la marca FunkoShop"
      /></a>
    </picture>
    <ul class="navbar__menu">
      <li class="navbar__item">
        <a class="navbar__link" href="/admin">PANEL DE PRODUCTOS </a>
      </li>

      <li class="navbar__item">
        <a class="navbar__link" href="/auth/logout">LOGOUT</a>
      </li>
    </ul>
  </nav>
  <% } else { %>
  <nav class="navbar container">
    <picture class="navbar__logo">
      <a href="/"
        ><img
          src="/img/branding/logo_light_horizontal.svg"
          alt="Iso logo de la marca FunkoShop"
      /></a>
    </picture>
    <ul class="navbar__menu">
      <li class="navbar__item with-submenu">
        <a class="navbar__link with-icon" href="/shop"
          >SHOP <iconify-icon icon="bi:chevron-down"></iconify-icon
        ></a>
        <ul class="submenu">
          <li class="submenu__item">
            <a href="" class="submenu__link">Funkos</a>
          </li>
          <li class="submenu__item">
            <a href="" class="submenu__link">Remeras</a>
          </li>
          <li class="submenu__item">
            <a href="" class="submenu__link">Llaveros</a>
          </li>
        </ul>
      </li>

      <li class="navbar__item">
        <a class="navbar__link" href="/contact">CONTACTO</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="/auth/login">LOGIN</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="/auth/register">SIGN UP</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__cart" href="/shop/cart">
          <img src="/img/icons/cart-icon.svg" alt="Icono del carro"
        /></a>
      </li>
    </ul>
  </nav>
  <% } %>
</header>
