<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Crear item</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>

    <main class="container">
      <form
        action="/admin/create"
        enctype="multipart/form-data"
        method="post"
        class="create__form">
        <ul class="create__form__ul">
          <li><h1 class="create__form__ul--h1">CREAR NUEVO ITEM</h1></li>
          <li
            class="create__form__ul__li--typography create__form__ul__li__div">
            <div>
              Categoría:
              <select name="select" class="create__form__ul--select">
                <option value="funko" selected>Funko</option>
                <option value="remera">Remera</option>
                <option value="llavero">Llavero</option>
              </select>
            </div>
            <div>
              Licencia:
              <select name="select" class="create__form__ul--select">
                <option value="stars wars">Stars Wars</option>
                <option value="pokemon" selected>Pokemon</option>
                <option value="harry potter">Harry Potter</option>
              </select>
            </div>
          </li>
          <li class="create__form__ul__li--typography">
            <label for="productData">Nombre del producto: </label>
            <input
              type="text"
              name="productData"
              placeholder="Kakashi Hatake Shippuden Saga"
              class="create__form--line" />
          </li>
          <li class="create__form__ul__li--typography">
            <textarea
              name="productData"
              rows="12.2rem"
              cols="69rem"
              placeholder=" Descripción del producto"></textarea>
          </li>
          <li
            class="create__form__ul__li--typography create__form__ul__li__div2">
            <div>
              <label for="sku">SKU:</label>
              <input
                size="9rem"
                type="text"
                name="sku"
                placeholder="SSK111AB001"
                class="create__form--line" />
            </div>
            <div>
              <label for="precio">Precio:</label>
              <input
                size="5rem"
                type="text"
                name="precio"
                placeholder="$0.000,00"
                class="create__form--line" />
            </div>
            <div>
              <label for="stock">Stock:</label>
              <input
                size="5rem"
                type="text"
                name="stock"
                placeholder="0"
                class="create__form--line" />
            </div>
          </li>
          <li
            class="create__form__ul__li--typography create__form__ul__li__div">
            <div>
              <label for="descount">Descuento:</label>
              <input
                type="number"
                id="descount"
                name="descount"
                min="0"
                max="100"
                placeholder="0%"
                size="5rem"
                class="create__form--line" />
            </div>
            <div>
              Cuotas:
              <select name="cuotas" class="create__form__ul--select">
                <option value="3">3 cuotas sin interés</option>
                <option value="6" selected>6 cuotas sin interés</option>
                <option value="12">12 cuotas sin interés</option>
              </select>
            </div>
          </li>
          <li class="create__form__ul__li--typography">
            <label for="image">Imágenes:</label>
            <input type="file" name="image" id="imageFiles" multiple />
            <div id="previewContainer"></div>
          </li>
        </ul>
        <button
          class="create__form--gap create__form--btn"
          type="submit"
          value="addProduct">
          Agregar Producto
        </button>
        <button
          class="create__form--gap create__form--gap create__form--btn"
          type="reset"
          value="clean">
          Limpiar
        </button>
      </form>
    </main>

    <%- include('../partials/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <script>
      // Función para mostrar la vista previa de las imágenes seleccionadas
      function previewImages() {
        const fileInput = document.getElementById("imageFiles");
        const previewContainer = document.getElementById("previewContainer");

        previewContainer.innerHTML = ""; // Limpiar la vista previa

        // Iterar sobre los archivos seleccionados
        for (const file of fileInput.files) {
          // Crear una miniatura y agregarla a la vista previa
          const thumbnail = document.createElement("img");
          thumbnail.src = URL.createObjectURL(file);
          thumbnail.alt = "Vista previa";
          thumbnail.style.maxWidth = "10rem"; // Ajustar el tamaño según sea necesario
          previewContainer.appendChild(thumbnail);
        }
      }

      // Asociar la función a un cambio en el input de archivos
      const fileInput = document.getElementById("imageFiles");
      fileInput.addEventListener("change", previewImages);
    </script>
  </body>
</html>
