<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Editar item</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main class="container">
      <form action="submit" class="create__form">
        <ul class="create__form__ul">
          <li><h1 class="create__form__ul--h1">CREAR NUEVO ITEM</h1></li>
          <li
            class="create__form__ul__li--typography create__form__ul__li__div">
            <div>
              Categoría:
              <select name="select" class="create_form_ul--select">
                <% if(product.category_id == 1){ %>
                  <option value="value1" selected>Figuras Coleccionables</option>
                  <option value="value2" >Remeras</option>
                  <option value="value3">LLaveros</option>
                <% } %>
                <% if(product.category_id == 2){ %>
                  <option value="value1" >Figuras Coleccionables</option>
                  <option value="value2" selected>Remeras</option>
                  <option value="value3">LLaveros</option>
                <% } %>
                <% if(product.category_id == 3){ %>
                  <option value="value1" >Figuras Coleccionables</option>
                  <option value="value2" >Remeras</option>
                  <option value="value3" seelcted>LLaveros</option>
                <% } %>
              </select>
            </div>
            <div>
              Licencia:
              <select name="select" class="create_form_ul--select">
                <% if(product.licence_id == 1){ %>
                  <option value="value1" selected>Harry Potter</option>
                  <option value="value2" >Star Wars</option>
                  <option value="value3">Pokemon</option>
                <% } %>
                <% if(product.licence_id == 2){ %>
                  <option value="value1" >Harry Potter</option>
                  <option value="value2" selected>Star Wars</option>
                  <option value="value3">Pokemon</option>
                <% } %>
                <% if(product.licence_id == 3){ %>
                  <option value="value1" >Harry Potter</option>
                  <option value="value2" >Star Wars</option>
                  <option value="value3" selected>Pokemon</option>
                <% } %>
              </select>
            </div>
          </li>
          <li class="create__form__ul__li--typography">
            <label for="productData">Nombre del producto: </label>
            <input
              type="text"
              name="productData"
              value="<% product.product_name %>"
              class="create__form--line" />
          </li>
          <li class="create__form__ul__li--typography">
            <textarea
              name="productData"
              rows="12.2rem"
              cols="69rem"
              value=""><% product.product_description %></textarea>
          </li>
          <li
            class="create__form__ul__li--typography create__form__ul__li__div2">
            <div>
              <label for="sku">SKU:</label>
              <input
                size="9rem"
                type="text"
                name="sku"
                value="<% product.sku %>"
                class="create__form--line" />
            </div>
            <div>
              <label for="precio">Precio:</label>
              <input
                size="5rem"
                type="text"
                name="precio"
                value="$<% product.price %>"
                class="create__form--line" />
            </div>
            <div>
              <label for="stock">Stock:</label>
              <input
                size="5rem"
                type="text"
                name="stock"
                value="$<% product.stock %>"
                class="create__form--line" />
            </div>
          </li>
          <li
            class="create__form__ul__li--typography create__form__ul__li__div">
            <div>
              <label for="descount">Descuento:</label>
              <input
                type="number"
                id="descount"
                name="descount"
                min="0"
                max="100"
                value="$<% product.discount %>"
                size="5rem"
                class="create__form--line" />
            </div>
            <div>
              Cuotas:
              <select name="cuotas" class="create__form__ul--select">
                <option value="value0">Sin cuotas</option>
                <option value="value3">3 cuotas sin interés</option>
                <option value="value6">6 cuotas sin interés</option>
                <option value="value9">9 cuotas sin interés</option>
                <option value="value12">12 cuotas sin interés</option>
                <option value="value18">18 cuotas sin interés</option>
                <option value="value24">24 cuotas sin interés</option>
              </select>
            </div>
          </li>
          <li class="create__form__ul__li--typography">
            <label for="image">Imágenes:</label> <input type="file" />
          </li>

          <li>
            <img
              class="editaritem__ul__li__img"
              src="/img/<% product.img_front %>"
              alt="pokemon" />
            <img
              class="editaritem__ul__li__img"
              src="/img/<% product.img_back %>"
              alt="pokemon" />
          </li>
          <button
            type="submit"
            value="modifyProduct"
            class="create__form--gap create__form--gap create__form--btn">
            Modificar Producto
          </button>
        </ul>
      </form>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
  </body>
</html>
