<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error 500 - Error Interno del Servidor</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        text-align: center;
        margin: 50px;
      }

      h1 {
        color: #d9534f;
      }

      p {
        color: #777;
      }

      a {
        color: #428bca;
      }
    </style>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <h1>Error 500 - Error Interno del Servidor</h1>
    <p>
      Lo sentimos, algo salió mal en el servidor. Estamos trabajando para
      solucionarlo.
    </p>
    <p><a href="/">Regresar a la página principal</a></p>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
